@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

:root {
  --main-color: pink;
  --btn-color: #FF5C8D;
  --second-color: #524A4E;
  --background-color: #fff4f8;
  --base-color: #c59bad;
  --font-color: white;
  --font-family: "Mitr", sans-serif;
  --padding: 10px;
  --head-font-size: 24px;
  --topic-font-size: 17px;
  --paragraph-font-size: 15px;
  --animate-duration: 0.1s;

}

body {
  margin: 0px;
  padding: var(--padding);
  background-color: var(--background-color);
  font-family: var(--font-family);
}

header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--btn-color);
  min-height: 80px;
}

.drop-shadow {
  box-shadow: 2px 3px 3px var(--base-color);
}

.drop-shadow:hover {
  box-shadow: 6px 6px 3px var(--base-color);
}

.containner {
  display: flex;
  align-items: flex-start;
}

.menu {
  text-align: center;
  width: 80px;
  height: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.home-btn {
  margin-bottom: 10px;
}

.menu-btn {
  background-color: var(--btn-color);
  border: none;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-family);
  color: var(--font-color);
  font-size: 16px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  transition-duration: var(--animate-duration);
  box-shadow: 2px 2px 2px var(--base-color);
}

.menu-btn:hover {
  background-color: var(--second-color);
  box-shadow: 2px 2px 2px var(--second-color);
}

.btn-to-project {
  cursor: pointer;
}

img {
  width: 100%;

  height: auto;
  display: block;
}

.img-ratio-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: transform 200ms;
  align-self: center;

}

.ratio-box-img {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  align-self: center;
  align-content: center;

}


.add-task-btn {
  width: 50px;
  border: none;
  background: var(--background-color);
  cursor: pointer;
  transition-duration: var(--animate-duration);
  border-radius: 100%;
}

.add-task-btn:hover {
  /* width: 70px; */
  transform: scale(1.2);
  border: none;
  background: var(--second-color);
  cursor: pointer;
  border-radius: 100%;
}

.main-content {
  flex-grow: 1;

}

/* *******************Project Grid*********************** */
.grid-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 13px;
  row-gap: 50px;
  flex-grow: 1;
  margin-bottom: 50px;
}

.proj-edit-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
}
/* .grid-proj-item {
  background: white;
} */
.proj-box {
  width: 300px;
  min-height: 250px;
  margin: auto;
  /* background-color: #ee4864; */
  color: white;
}

.proj-des-box {
  min-height: 100px;
}

.label-proj {
  font-size: 20px;
  margin-bottom: 30px;
  padding-left: 50px;
  font-weight: bold;
}

/* *******************Task Grid*********************** */
.grid-task {
  display: grid;
  /* background: #9bc57e; */
  grid-auto-rows: minmax(80px, auto);
  grid-gap: 20px;
  width: 90%;
  margin: auto;
}

.grid-task-item {
  display: grid;
  grid-template-columns: 3fr 2fr;
  background-color: var(--main-color);
  border: 1px solid #ffc0cb;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  row-gap: 10px;
}

.task-parti {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2/4;
  justify-items: end;
}

.accord-sep{
  grid-column: 1/4;
  height: 2px;
  background: var(--background-color);
}

.acc-hide{
  display: none;
}

.task-des{
  grid-column: 1/2;
}

.real-status-box{
  background-color: blue;
  border-radius: 5px;
  text-align: center;
  display: grid;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  color: white;
}
.join-task-btn , .mark-as-done{
  width: 60px;
  margin: auto;
  border: none;
  cursor: pointer;
}

.join-task-btn , .mark-as-done, .real-status-box{
  box-shadow: 3px 3px 2px var(--base-color);
}

.mark-as-done{
  border-radius: 100%;
  background-color: var(--background-color);
}

.join-task-btn{
  background-color: var(--btn-color);
  border-radius: 5px;
}

.point{
  cursor: pointer;
}
/* join-task-btn real-status-box mark-as-done */


/* .task-name-box {
  background: white;
}
.task-status-box {
  background: white;
} */
.task-menu-box {
  justify-self: center;
  grid-column: 1/3;
}
.proj-status {
  height: 100px;
  padding: var(--padding);
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}

#proj-desc-task{
  font-weight:lighter;
}
.task-description{
  font-weight: normal;
  padding: 10px;
}

/*  from project_box css */
.project-box {
  width: 75%;
  min-height: 250px;
  background-color: var(--main-color);
  color: black;
  padding: var(--padding);
  border-radius: 10px;
  margin: auto;
  cursor: pointer;
  transition-duration: var(--animate-duration);
}

.project-box:hover {
  /* background-color: var(--second-color); */
  transform: scale(1.05);

}

.project-btn.add-project-btn {
  width: 50%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  align-content: center;
  background-color: pink;
  align-self: center;
  text-align: center;
  align-items: center;
}

.add-project-wrapper {
  display: flex;
  justify-content: center;
}

.progress {
  width: 100%;
  background-color: #ddd;
}

.progress-done {
  width: 0%;
  height: 15px;
  background-color: #ef4374;
  text-align: center;
  line-height: 32px;
  color: black;
}

.project-btn {


  border: none;
  /* background-color: rgb(229, 134, 182); */
  cursor: pointer;
  width: 70px;
}

.edit-project-btn, .delete-project-btn {
  background-color: var(--btn-color);
  border-radius: 10px;
  align-self: center;
  font-size: 17px;
  width: 100%;
  height: 23px;
  color: snow;
  border: 0px;
  cursor: pointer;
  transition-duration: var(--animate-duration);
}

/* .project-edit-button{
  margin-left: 80%;
  margin-top: 2%;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  padding: 1px;
}
.project-edit-img{
  height: 80%;
  width: 80%;

} */

.edit-project-btn:hover, .delete-project-btn:hover {
  background-color: var(--second-color);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  color: snow;
  border: 0px;
  cursor: pointer;
  transition-duration: var(--animate-duration);
}

/* from form css */

* {
  margin: 0;
  padding: 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;

  display: none;
  justify-content: center;
  align-items: center;
}

.popup .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  gap: 16px;
  padding: 16px;
  background-color: var(--main-color);
  border-radius: 8px;
}

.popup form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.popup label,
input,
textarea {
  font-size: 20px;
  resize: vertical;

}

.popup .button-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  width: 100%;
}

.popup .success-button {
  padding: 8px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  background-color: limegreen;
}

.popup .success-button:hover {
  background-color: green;
}

.popup .secondary-button {
  padding: 8px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  background-color: gray;
}

.popup .secondary-button:hover {
  background-color: dimgray;
}

/* from task css */
.box {
  width: 95%;
  /* max-width: 850px; */
  height: fit-content;
  background-color: pink;
  border: 1px solid #ffc0cb;
  margin-top: 13px;
  margin-left: 20px;
  padding: var(--padding);
  /* padding-top: 10px;
  padding-left: 8px;
  padding-right: 10px;
  border-radius: 10px; */
  margin: auto;
}

h2 {
  font-size: medium;
  font-weight: 400;
  margin: 20px;
}

h1 {
  /* margin: 20px; */
  margin-bottom: 15px;
  font-size: var(--head-font-size);
}

.taskheader {
  font-size: var(--topic-font-size);
  background-color: aliceblue;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 80%;
  box-shadow: 3px 3px 2px var(--base-color);
  text-align: left;
  /* position: relative; */
}

.task-description {
  margin-right: 5%;
  margin-top: 5px;
  font-size: var(--paragraph-font-size);
  color: darkslategrey;
}

#status {
  font-size: var(--paragraph-font-size);
  font-family: "Mitr", "sans-serif";
  width: 150px;
  border-radius: 9px;
  align-content: flex-end;
  margin-top: 10px;
  margin-right: 5%;
}

.status {
  font-size: var(--paragraph-font-size);
  font-family: "Mitr", "sans-serif";
  width: 150px;
  border-radius: 9px;
  align-content: flex-end;
  margin-top: 10px;
  margin-right: 5%;
}

.flex-container {
  display: flex;

  text-align: left;
}

.edit-task-btn, .delete-task-btn {
  width: 30px;
  height: 30px;

  margin: 5px;

  font-family: "Mitr", "sans-serif";
  font-size: medium;
  border-color: #d87093;
  border-radius: 10px;
  padding: 1.5px;
  align-content: center;

  position: relative;
  /* position: absolute; */
}

.right-button {
  margin-left: 30px;
  position: relative;
}

.edit-task-btn :hover {
  border-color: pink;
}

.delete-task-btn :hover {
  border-color: red;
}

.add-button {
  margin: 20px;
  text-align: center;
  align-self: center;
  color: pink;
}

.add-button:hover {
  border-color: palevioletred;
}

.content {
  width: 98%;
  max-width: 850px;
  align-content: center;
  align-items: center;
  text-align: center;
}

/* *******************Media Query*********************** */
@media (max-width: 1080px) {
  .grid-main {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-task-item {
    grid-template-columns: 4fr 3fr;
  }

  .grid-task {
    width: 100%;
  }

  .progress {
    width: 98%;
    margin: auto;
  }

  .label-proj {
    text-align: center;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0px;
  }

  header {
    margin-top: 20px;
  }

  .grid-main {
    grid-template-columns: 1fr;
  }

  .menu {
    width: 100%;
    margin-bottom: 50px;
    position: relative;
  }

  .containner {
    display: block;
  }

  .proj-box {
    width: 80%;
  }

  .grid-main {
    row-gap: 20px;
  }

  .grid-task-item {
    grid-template-columns: repeat(2, 1fr);
  }

  .task-name-box {
    grid-column: 1/3;
  }

  .task-status-box {
    grid-column: 1/3;
  }

  /* .task-menu-box {
    grid-column: 1/3;
  } */

  .right-button {
    width: 100%;
  }

  .project-box {
    width: 90%;
  }

  .menu-btn {
    border-radius: 0px;
    margin-bottom: 5px;
    margin-top: 0px;
    height: 50px;
    width: 100%;
  }

  .task-parti {
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/4;
    justify-items: end;
  }
  .task-des{
    grid-column: 1/4;
    grid-row: 5;
  }

  .task-des-acc, .task-part-acc{
    grid-column: 1/3;
  }
}