.project-grid{
    display: grid;
    padding: 16px;
    /* background-color: aquamarine; */
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);

}
.project-box{
    width: 300px;
    min-height: 250px;
    background-color: rgb(229, 134, 182);
    padding: 16px;
    border-radius: 20px;
}
.progress {
    width: 90%;
    background-color: #ddd;
  }
    
.progress-done {
    width: 70%;
    height: 15px;
    background-color: #e4ee56;
    text-align: center;
    line-height: 32px;
    color: black;
  }
.project-btn{
    background-color: rgb(223, 112, 75);
    border-radius: 10px;
    width: 100px;
    height: 50px;
    color: snow;
    
}
.edit-project-btn{
    background-color: rgb(223, 112, 75);
    border-radius: 10px;
    width: 50px;
    height: 40px;
    color: snow;
    
}
